@import "tailwindcss";

@font-face {
  font-family: Alata;
  src: url(../fonts/Alata-Regular.ttf);
}
@theme {
  --font-Alata: Alata, "sans-serif";
}

#hero{
    background-image: url(../Image/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    
    
}

@media (max-width:576px) {
  #hero{
    background-image: url(../Image/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
}

